
@{
    ViewBag.Title = "Создание поступления";
}

<h2>Создание поступления</h2>

@*<select id="filterProvider" name="filterProvider">
        <option value="0"></option>
        @foreach (var item in ViewBag.Providers)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>*@
